{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "quotes": [2, "backtick", "single"]
  }
}
